html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: rgb(29, 29, 29);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  min-width: 60vw !important;
}
@media only screen and (min-width: 700px) {
  input {
    min-width: unset !important;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}
